.mainBlock{
    position: relative;
    width:100%;
    height:200vh;
    background-color:#0A2540;
}
.upperTriangle{
   position:absolute;
   top:0;
   left:0;
   width:0;
   height:0;
   z-index: 1;
   border-top: 50vh solid white;
   border-right: 100vw solid transparent;
}
.lowerTriangle{
    position:absolute;
    bottom:0;
    right:0;
    height:0;
    width:0;
    z-index: 1;
    border-bottom:50vh solid white;
    border-left:100vw solid transparent;
}
.slides{
    position: absolute;
    top:35%;
    left:20%;
    z-index:2;
    color:white;
}
.head{
    text-align: center;
    position: absolute;
    top:20%;
    left:25%;
    z-index:2;
    color:white;
}
.innerHead{
    font-size: 1.7rem;
    font-family: Graphie,sans-serif;
    font-weight:700;
}
.innertext{
   font-size: 1.7rem;
   font-weight: 200;
}
.upperText{
    padding-top: 1.7rem;
    font-size: 2.5rem;
    color: #9ECFFF;
    font-weight: 700;
}
.gridcontainer {
    display: grid;
    grid-template-columns:repeat(2, 1fr); /* Two columns of equal width */
  }
  .process{
     width:30%;
     padding-top:3rem;
  }

  .griditem2 {
      background-image: url('./../../public/mobilebg.svg');
  }

  .Google{
    padding:0;
    background-color: white;
    border-radius: 0.4rem;
    border:none;
    margin-top: 3rem;
  }