.head{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 8rem;
}
.dis{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.brands{
    margin-bottom: 3rem;
}