.gridcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    grid-gap: 10px; /* Gap between grid items */
    margin-top: 3rem;
  }
.title{
  font-size: 1.5rem;
  font-weight:600;
  font-family: Graphie,sans-serif;
  padding-top: 2rem;
}
.text{
  font-size: 1.2rem;
  font-weight: 100;
  color:rgb(94, 92, 92);
  font-family: Graphie,sans-serif;
  width:60%;
  padding-bottom: 3rem;
}
