.head{
    font-size: 3rem;
    padding-top:4rem;
    font-weight:600;
    text-align: center;
    font-family: Graphie,sans-serif;
}
.img{
    width:80%;
    margin-left:10%;
    margin-right: 10%;
    padding-top:5rem;
}
.imgContainer{
    width:100;
}
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width: 800px) {
    .head{
        font-size:2rem;
    }
  }
