.container {
    margin-left: 10%;
    margin-right: auto;
    max-width: 80%;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }
  
  .column {
    padding-top: 4rem;
    padding-bottom: 2rem;
    
    width: 25%;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: 960px) {
    .text{
      font-size: 1rem;
    }
    .text2{
      font-size: 1rem;
    }
  }
  @media (min-width: 640px) {
    .column {
      width: 25%;
    }
  }
  @media (min-width: 1280px) {
    .column {
      width: 33%;
    }
  }
  .img{
    width:60%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .text{
    padding-top: 1rem;
    margin-left: 20%;
    font-size: 1rem;
    font-weight: 400;
  }
  .text2{
    margin-left: 20%;
    font-size: 0.7rem;
    font-weight: 100;
    color:slategray;
  }
  